/* 
 * Styles for the bracket component. Adapted from 
 * https://codepen.io/aronduby/pen/qliuj?editors=1100
 */

.tournament {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-size: small;
  padding: 10px;
  line-height: 1.4em;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-column {
  flex-direction: column;
}

.bracket-select {
  width: 100%;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  list-style: none;
  padding: 0;
}
.round .spacer {
  flex-grow: 1;
}
.round .spacer:first-child,
.round .spacer:last-child {
  flex-grow: 0.5;
}

.round .game-spacer {
  flex-grow: 1;
}

.game-wrapper {
  justify-content: flex-end;
}

.team-seed {
  margin-left: 5px;
}

li.game {
  padding-left: 20px;
}

li.game.winner {
  font-weight: bold;
}
li.game span {
  float: right;
  margin-right: 5px;
}

li.game-top {
  border-bottom: 1px solid #aaa;
}

li.game-spacer {
  border-right: 1px solid #aaa;
  min-height: 40px;
}

li.game-bottom {
  border-top: 1px solid #aaa;
}
