<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./js/vue.js"></script>
  <script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
  <script src="./js/bracket.js" async></script>
  <link rel="stylesheet" href="./css/bracket.css">
  <title>Vue Bracket</title>
</head>

<body>
  <div id="app">
    <select v-model="year">
      <option v-for="validYear in validYears" :value="validYear">{{validYear}}</option>
    </select>
    <select v-model="displayType">
      <option v-for="displayOption in displayOptions" :value="displayOption.id">{{displayOption.name}}</option>
    </select>
    <div class="bracket-container">
      <div v-if="loading || !tournament">
        loading
      </div>
      <div v-else>
        <!-- If we are displaying all the teams altogether -->
        <div v-if="displayType === 'tournaments'">
          <vue-bracket :tournament="tournament"></vue-bracket>
        </div>
        <!-- If we are displaying teams separately by region -->
        <div v-else>
          <div class="tournament-region" v-for="(region, index) in regionOrder" :key="index">
            <h2>{{region}}</h2>
            <vue-bracket :tournament="tournament[region]">
            </vue-bracket>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>