<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./js/vue.js"></script>
  <script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
  <!-- Element CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- Element JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="./js/bracket.js" async></script>
  <link rel="stylesheet" href="./css/bracket.css">
  <title>Vue Bracket</title>
</head>

<body>
  <div id="app">
    <el-tabs v-model="activeTab">
      <!-- First tab for viewing past tournaments -->
      <el-tab-pane label="View Past Tournaments" name="past">
        <el-select v-model="year" placeholder="Select Year">
          <el-option v-for="validYear in validYears" :key="validYear" :label="validYear" :value="validYear">
          </el-option>
        </el-select>
        <el-select v-model="displayType" placeholder="Select Display Type">
          <el-option v-for="displayOption in displayOptions" :key="displayOption.id" :label="displayOption.name" :value="displayOption.id">
          </el-option>
        </el-select>
        <div class="bracket-container">
          <div v-if="loading || !tournament">
            loading
          </div>
          <div v-else>
            <!-- If we are displaying all the teams altogether -->
            <div v-if="displayType === 'tournaments'">
              <vue-bracket :tournament="tournament">
              </vue-bracket>
            </div>
            <!-- If we are displaying teams separately by region -->
            <div v-else>
              <div class="tournament-region" v-for="(region, index) in regionOrder" :key="index">
                <h2>{{region}}</h2>
                <vue-bracket :tournament="tournament[region]">
                </vue-bracket>
              </div>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <!-- Second tab for creating your own bracket -->
      <el-tab-pane label="Make a Bracket" name="create">
        <create-bracket></create-bracket>
      </el-tab-pane>
    </el-tabs>
  </div>
</body>

</html>